auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*@babel/plugin-transform-react-jsx*
public-hoist-pattern[]=react-native-worklets
public-hoist-pattern[]=react-native-reanimated
